html{
  height:100%;
  font-size: 62.5%;
  line-height: 1.7
}

p{
font-size: 2rem;
}
h3{
  font-size: 3rem !important;
}
h6{
  font-size: 2rem;
}
i.fas,
  i.fab {
    color:black;
  }

.navbar {
    opacity: 0.9;
    background: #fff;
    transition: top 0.4s;
    font-size: 1.5rem;
    height: 6rem;
   }
   

   nav .navbar-nav li a{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    font-weight: bold;
    }
    nav .navbar-nav li a:hover{
      background: linear-gradient(90deg, #5e68ff 0%, #a03bff 100%)!important;
      color:white !important;
      border-radius: 5rem !important;

    }
hr{
    border: 1px solid #d6d3d3;
    width: 28%;
    margin-left: 5%;
}

.buttonGradient{
    background: linear-gradient(90deg, #5e68ff 0%, #a03bff 100%)!important;
    border: none !important;
    border-radius: 5rem !important;
    display: inline-block;
    padding: 10px;
}
.top__Button{
  font-size: 2rem;
  padding: 0.7rem;
 
}

  

#home-section {
    background: url(../images/headerBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* overflow:hidden; */
  }
  div >h1.mobile{
    font-size: 5.5rem;
    font-weight: 800;
    letter-spacing: 3rem;
    width: 60vw;
        -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
  
    .fas.fa-chevron-right{
      color: white !important;
      margin-left:0.5rem;
    }

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  @keyframes slide-left{
      from {
          margin-left: 0;
          width: 300%;
      }
      to{
          margin-left:100%;
          width: 100%; 
      }
  }

  div >p.Tech_Grow{
    font-size: 4rem;
    width: 50vw;
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              margin-bottom: -20px;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              margin-bottom: -20px;

    }
  }
  

  .vibratingButton{
    -webkit-animation: vibrate-2 0.3s linear infinite both;
    animation: vibrate-2 0.3s linear infinite both;
  }
  

/**
 * ----------------------------------------
 * animation vibrate-2 topButton
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-2 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    40% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    60% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    80% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  .home-inner{
      padding-top: 15rem;
  }
  .border-line{
      border-left: 2px solid #828282;
      line-height: 3rem !important;
    
  }
     .aboutusContainer{
       width: 80vw;
        background-color:#eaedf2;
         min-height:70vh;
     }
     .Henderic_div{
         margin-top: -10rem;
     }
     
    #about_us,#client_profiles,.profiles_containers,footer{
      background-color: #eaedf2;   
     }
     
     .contactBox{
      color: black;
      width: 80%;
      padding-left: 4rem;

     }
     #contact_us{
      background-image: linear-gradient(rgba(255, 255, 255, 0.920), rgba(255, 255, 255, 0.920)),
      url("../images/bgBig.jpg");
         background-repeat: no-repeat;
     }
     .overlay{
        background: rgba(255, 255, 255, 0.329);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .bottom__Form-Container{
      width: 80%;
      margin: 0 auto;
    }
.lastbutton{
    background: linear-gradient(90deg, #5e68ff 0%, #a03bff 100%)!important;
    border: none !important;
    border-radius: 0px !important;
    width: 7rem;
    height: 4rem;
    
}
.no-radius{
    border-radius: 0px !important;
    width: 20vw;
}
.letter_spacing{
letter-spacing:0.2rem;
}

.alignImgLeft{
    margin-left: 8.1rem !important;
}
.form-control{
    background-color: #EAEDF2;
    margin: 1rem 0rem;
}
.form-control:focus{
    
    border: 0.5px solid rgb(0, 0, 0);
    box-shadow: none;
    background: white;
}
.form-control{
    height: 4rem;
}
.officerText{
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.pictureAnimate:hover{
    -webkit-animation: rotate-in-ver 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-ver 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}


/**
 * ----------------------------------------
 * animation rotate-in-hor
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-hor {
    0% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes rotate-in-hor {
    0% {
      -webkit-transform: rotateX(360deg);
              transform: rotateX(360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      opacity: 1;
    }
  }
  
  .learMore:hover{
cursor: pointer;
background: linear-gradient(90deg, #5e68ff 0%, #a03bff 100%)!important;
border: none !important;
border-radius: 5rem !important;
display: inline-block;
padding: 1rem;
color: white !important;

  }
  #client_profiles{
    position: relative;
  }
  .imgAbsolute{
    position: absolute;
    right: 0;
  }
  /*new style*/
  .teamContainer{
    width: 80%;
    margin: auto;
  }
  .teamborderleftline{
    border-left:2px solid gray;
    padding-left: 0.8rem;
  }
  .img_2{
    margin-top: 1.5rem;
  }
  .learMore2{
    cursor: pointer;
background: linear-gradient(90deg, #5e68ff 0%, #a03bff 100%)!important;
border: none !important;
border-radius: 5rem !important;
display: inline-block;
padding: 0.5rem;
color: white !important;
  }

  #team {
    background: #eee !important;
}



section {
  padding: 6rem 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 3rem;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 100%;
}

.backside .card a {
  font-size: 1.8rem;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #5E67FF !important;
}

.frontside .card .card-body img {
  width: 100%;
  height: 100px;
}

/* 
#2A93CE */

/* #4EB458 */
@media (max-width: 768px) {
    
  .teamContainer{
    width: 90%;
    margin:0 auto;
  }
  #client_profiles{
    position: static;
  }
  .imgAbsolute{
    position: static;
   
  }
  .pictureAnimate{
    width: 100%;
  }
  .alignImgLeft{
    margin-left:6rem !important;
}
  /* .pictureAnimate{
    margin-right: 17px;
  } */
  .richard{
    margin-left: 1.7rem;
  }
  .sarah{
    margin-right: 15px;
    margin: 0 auto;
  }
  nav .navbar-nav li a{
  font-size: 10px;
  display: inline-block;
    }
    #home-section {
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url("../images/headerBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 700px;
        background-position: 80% 0%;
      }
  
    .mb-resp {
      margin-bottom: 6rem; } 
    
      .alignImgLeft{
        margin-left: 0px !important;
    }
    .contactBox{
      background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
      url("../images/im_3.PNG");
      
      background-repeat: no-repeat;
 background-size: cover;
 
 opacity:0.7;
 /* filter: grayscale(100%); */
 background-position:center;
 color: black;
padding-left:4rem; 
padding-right:4rem; 
  }

.profileImg{
    width: 90%;
    
}

.mobile{
    color: white !important;
}

.tabletAlign{
  text-align: center !important;
}
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
    
    @media (min-width: 768px) and (max-width: 1024px) {
  
      
      #home-section {
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
          url("../images/headerBackground.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 700px;
        background-position: 80% 0%;
      }
      .tabletAlign{
         text-align: center !important;
      }
      .alignImgLeft{
        margin-left:0 !important;
    }
      #client_profiles{
        position: none ;
      }
      .Henderic_div{
        margin-top: 0px;
        
    }
    /* .tabletView{
      margin-left:230px !important;
    } */
    nav .navbar-nav li a{
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      font-size: 0.8rem;
      font-weight: bolder;
    }
    
    
    .mobile{
      color: white !important;
  }
  #client_profiles{
    position: static;
  }
  .imgAbsolute{
    position: static;
   
  }
  .contactBox{
    color: black;
    width: 100%;
    padding-left: 0px;

   }
    }
       /**
 * ----------------------------------------
 * Laptop
 * ----------------------------------------
 */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .largeScreen_mt{
      margin-top: 4.5rem;
    }
    
    .deskview {
      margin-left: 3.8rem !important;
  }
  }
  /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (max-width: 768px){
  .contactBox{
    color: black;
    width: 100vw;
    padding-left: 0px;
    margin-top: 2rem;

   }
   .div>h1.mobile{
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .contactBox{
    color: black;
    width: 100vw;
    padding-left: 0px;

   }
  .div>h1.mobile{
    width: 80vw;
  }
  .teamContainer{
    width: 90%;
    margin:0 auto;
  }       
            
}
  /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .mobileAlign{
    text-align: center;
  }
  
  .boxes{
    padding: 0 2rem !important;
  }
  
  
}
@media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    margin-right: -276px;
}